# MVP

## Question 1

In [3]:
shopping = ["spam", "ham", "eggs", "ham"]

In [4]:
shopping[1]

'ham'

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [6]:
shopping[-1]

'ham'

## Question 2

In [7]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [8]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [9]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [10]:
stops.index("Croy")

1

In [11]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [12]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [13]:
stops.clear()
stops

[]

## Question 3

In [14]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [15]:
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['name', 'age', 'Instructor'])
dict_values(['Steph', 31, True])
dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [16]:
person["name"]

'Steph'

In [17]:
person.update({"email": "steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [18]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4

In [166]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [167]:
print([num for num in numbers if num % 2 == 0])

[6, 2, 2, 6]

In [168]:
print(max(numbers) - min(numbers))

98

In [169]:
for index in range(0, len(numbers)):
    if numbers[index] == 2 and numbers[(index + 1)] == 2:
        print(True)

True

In [171]:
it = iter(numbers)
sum(x for x in it if x != 6 or 7 not in it)

2

## Question 5

In [24]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

## Question 6

In [25]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [26]:
def collect_eggs(chicken_list):
    
    total_eggs = 0
    
    for chicken in chicken_list:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    
    return(str(total_eggs) + " eggs collected")

In [27]:
collect_eggs(chickens)

'4 eggs collected'

In [28]:
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 0},
 {'name': 'Henrietta', 'age': 3, 'eggs': 0},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 0}]

# Extensions

## Question 1

In [29]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [30]:
united_kingdom[1].update({"capital": "Cardiff"})
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [31]:
ni_dict = {
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
}

In [32]:
united_kingdom.append(ni_dict)
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [33]:
for x in united_kingdom:
    print(x["name"])

Scotland
Wales
England
Northern Ireland

In [172]:
sum([x["population"] for x in united_kingdom])

63179000

## Question 2

In [34]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [35]:
users["Jonathan"]["twitter"]

'jonnyt'

In [36]:
users["Erik"]["home_town"]

'Linlithgow'

In [37]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [38]:
users["Avril"]["pets"][0]["species"]

'snake'

In [39]:
min(users["Erik"]["lottery_numbers"])

8

In [40]:
[num for num in users["Avril"]["lottery_numbers"] if num % 2 == 0]

[12, 14, 38]

In [41]:
users["Erik"]["lottery_numbers"].append(7)
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [42]:
users["Erik"].update({"home_town": "Edinburgh"})
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [43]:
users["Erik"]["pets"].append({"name": "Fluffy", "species": "dog"})
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [44]:
users.update({"Neringa": {
    "home_town": "Edinburgh",
    "pets": [{"name": "Snaige", 
              "species": "dog"}]
}})

In [45]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'Neringa': {'home_town': 'Edinburgh',
  'pets': [{'name': 'Snaige', 'species': 'dog'}]}}